<configuration>
  <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>
        %d{HH:mm:ss.SSS} %magenta([%thread]) %highlight(%-5level) %cyan(%logger{15}) -%kvp %yellow(%msg) %n
      </pattern>
    </encoder>
  </appender>
  <statusListener class="ch.qos.logback.core.status.NopStatusListener"/>
  <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>${java.io.tmpdir}/koma.log</file>
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
    </encoder>
    <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
      <fileNamePattern>${java.io.tmpdir}/koma.%d{yyyy-MM-dd}.%i.log.gz</fileNamePattern>
      <maxFileSize>5MB</maxFileSize>
      <maxHistory>7</maxHistory>
      <totalSizeCap>10GB</totalSizeCap>
    </rollingPolicy>
  </appender>

  <appender name="ASYNC" class="ch.qos.logback.classic.AsyncAppender">
    <appender-ref ref="CONSOLE"/>
    <appender-ref ref="FILE"/>
  </appender>

  <root level="info">
    <appender-ref ref="ASYNC"/>
  </root>

  <logger name="org.koma" level="DEBUG"/>
  <logger name="java.lang.ProcessBuilder" level="OFF"/>
</configuration>